*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header button{
    background:orange;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

.dashboard{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:30px;
}

.course-card{
    width:320px;
    height:220px;
    background:wheat;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.15);

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    padding:20px;
}

.course-card h2{
    color:#1e3a8a;
}

.course-card p{
    color:#555;
    line-height:1.5;
}

.course-card button{
    background:orange;
    color:black;
    border:none;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
    width:100%;
}

.course-card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}